/* If you are confused, lmk*/
/* https://github.com/MrBreakNFix/website*/

body {
    background-color: #000;
    color: #0F0;
    font-family: 'Courier New', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 150px auto;
    max-width: 400px;
}

.login-box {
    position: relative;
    background-color: #000;
    padding: 20px;
    border: 1px solid #0F0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.login-box h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #0F0;
    border-radius: 5px;
    background-color: #000;
    color: #0F0;
}

.input-group button {

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #041f00;
    color: #0F0;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 1px solid #0F0;
}
.input-group button:hover {
    background-color: #008000;
    color: #000;
}

#Matrix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.access-denied {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F00;
    color: #000;
    /*border color*/
    border: 1px solid #000;
    font-size: 48px;
    padding: 20px;
    border-radius: 10px;
    display: none;
    animation: shake 0.1ms cubic-bezier(0.1, 0.1, 0.1, 0.1) infinite, flashing 0.8s linear infinite, fadeOut 2.4s ease-in-out;

}

@keyframes shake {
    0%, 100% {
        transform: translate(-50%, -50%) translateX(-1px);
    }
    50% {
        transform: translate(-50%, -50%) translateX(1px);
    }
}
@keyframes flashing {
    0% {
        color: black;
        background-color: #d50000;
    }
    50% {
        color: black;
        background-color: red;
    }
    100% {
        color: black;
        background-color: #d50000;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.login-box.shake {
    animation: shakeLoginBox 0.5s cubic-bezier(0.1, 0.1, 0.1, 0.1) infinite;
}
.login-box.sliding-out {
    animation: slideLoginBoxOut 1s ease-in-out;
}
.login-box.sliding-in {
    animation: slideLoginBoxIn 1s ease-in-out;
}

@keyframes shakeLoginBox {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(5px);
    }
}
@keyframes slideLoginBoxIn {
    0% {
        transform: translateX(270%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideLoginBoxOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(500%); /*overshoot this to remove the flash*/
    }
}

input[type="file"] {
    display: none;
}

label.fileInput {
    display: inline-block;
    max-width: 300px;
    padding: 8px; /* Adjust padding */
    margin: 0; /* Remove margin */
    border: 1px solid #0f0;
    border-radius: 4px;
    cursor: pointer;
    color: #0f0;
    background-color: #041f00;
    transition: background-color 0.3s ease, color 0.3s ease;
}

label.fileInput:hover {
    background-color: #008000;
    color: #000;
}

label.fileInput:active {
    background-color: #008000;
    color: #000;
    transform: scale(0.95);
}
.fileactionbutton {
    display: inline-block;
    max-width: 200px;
    padding: 8px;
    margin: 0;
    border: 1px solid #0f0;
    border-radius: 4px;
    cursor: pointer;
    color: #0f0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
::-webkit-scrollbar {
    width: 0;
}

button.matrix {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    padding: 8px 15px;
    border: 1px solid #0f0;
    border-radius: 4px;
    cursor: pointer;
    background-color: #041f00;
    color: #0F0;
    transition: background-color 0.3s ease, color 0.3s ease;

}
button.matrix:hover {
    background-color: #008000;
    color: #000;
}