body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #3498db;
}

.psa {
    text-align: center;
    color: #5787e3;
}

form {
    margin-top: 20px;
}

.question {
    margin-bottom: 20px;
    animation: slideInForward 0.5s ease;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.background-fade {
    transition: background-color 2s ease;
    background-color: #cd0100;
}

.flag {
    transition: opacity 60s ease;
    animation: wave 30s ease infinite;
}

@keyframes wave {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(10deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

button:hover {
    background-color: #2980b9;
}


@keyframes slideInForward {
    from { transform: translateX(150%); }
    to { transform: translateX(0); }
}

@keyframes slideOutForward {
    from { transform: translateX(0); }
    to { transform: translateX(-150%); }
}

@keyframes slideInBackward {
    from { transform: translateX(-150%); }
    to { transform: translateX(0); }
}

@keyframes slideOutBackward {
    from { transform: translateX(0); }
    to { transform: translateX(150%); }
}

#page1 {
    animation: slideInForward 0.5s ease;
}